:host{
  button{
    font-size: 20px;
    font-weight: lighter;
    font-family: "Roboto";
    border: 1px solid #ccc;
    cursor: pointer;
  }
  display: flex;
  justify-content: center;
  .calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    &-screen{
      position: relative;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 5px;
      height: 60px;
      display: flex;
      flex-direction: column;
      button{
        position: absolute;
        background-color: #f1f3f4;
        padding: 5px;
      }
      &-result{
        height: 25px;
        width: 100%;
        text-align: right;
        margin-top: 3px;
      }
      &-input{
        border: none;
        width: 96%;
        flex-grow: 2;
        padding: 0 5px;
        font-size: 1.5rem;
        text-align: right;
        &:focus{
          outline: none;
        }
      }
    }
    &-buttons{
      width: 100%;
      &-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        button{
          padding: 10px 0;
          &.operator{
            background-color: #dadce0;
          }
          &.operand{
            background-color: #f1f3f4;
          }
        }
      }
    }
    &-expression-test{
      font-family: "Roboto";
      width: 100%;
      ul{
        padding-left: 20px;
        li{
          padding: 5px;
          .expression{
            padding-right: 10px;
          }
          .result{
            padding-left: 10px;
            font-weight: bold;
          }
        }
      }
    }
  }
}



